<a href="https://colab.research.google.com/github/honestovicente/PLM-Elective-3-Lab/blob/main/LoopStatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for i in week:
  print(i)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Example 2 (The break statement)

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for i in week:
  print(i)
  if i=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3 (The break statement)

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for i in week:
  if i=="Thursday":
    break
  print(i)

Sunday
Monday
Tuesday
Wednesday

Example 4 (Looping through a String)

In [ ]:
for x in "week":
  print(x)

w
e
e
k

Display only Thursday using break statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
# Display only Thursday using break statement
for i in week:
  if i=="Thursday":
    print(i)
    break

Thursday

The range() Function

In [ ]:
for x in range(6):
  print(x)

print("")

for x in range(2,6):
  print(x)

0
1
2
3
4
5

2
3
4
5

Nested Loops

In [ ]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Example 5 while

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

Do while break statement

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

The continue statement

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

The else Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Let's try
Create a Python program that displays:
		Hello 0
		Hello 1
	 	Hello 2
	 	Hello 3
		Hello 4
		Hello 5
		Hello 6
		Hello 7
		Hello 8
		Hello 9
		Hello 10

In [ ]:
for i in range(11):
  print("Hello", i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Create a Python program that displays integers less than 10 but not less than 3

In [ ]:
for i in range(11):
  if i >= 3 and i < 10: # less than 10 but not less than 3 condition
    print(i)

3
4
5
6
7
8
9