<a href="https://colab.research.google.com/github/honestovicente/PLM-Elective-3-Lab/blob/main/PythonFundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [28]:
x = 5
y = 2

if x > y:
  print(f"{x} is greater than {y}")
else:
  print(f"{x} is NOT greater than {y}")

5 is greater than 2

Python Comment

In [1]:
print("Hello World") # This is a python comment

Hello World

Python Variable

In [8]:
z = 1
z, s = 0, -1
z, s, t = 8,9,10
z
s
t

10

In [12]:
b = "Sally" # This is a string
b = float(4)
b

4.0

Type() function

In [13]:
print(type(b))

<class 'float'>

Double Quotes and Single Quotes

In [14]:
w = "Ana"
print(w)
q = 'Ana'
print(q)

Ana
Ana

Case Sensitive

In [17]:
a = int(4)
A = "Sally"
print(a)
print(A)

4
Sally

Multiple Variables

In [18]:
h, i, j = "one", "two", "three"
print(h)
print(i)
print(j)

one
two
three

Multiple Variables with Single Value

In [22]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation (+)

In [27]:
n = "enjoying"
m = "Python programming is"
print(f"{m} {n}")
print(m + " " + n)

Python programming is enjoying
Python programming is enjoying

Arithmetic Operations

In [30]:
print(x+y) # Addition
print(x-y) # Subtraction
print(x*y) # Multiplication
print(x/y) # Division
print(x//y) # Floor Division
print(x%y) # Modulus

7
3
10
2.5
2
1

Assignment Operator

In [ ]:
x+=3 # Same as x = x + 3

Comparison Operator

In [32]:
print(x == y) # x, y = 5, 2
print(x != y)
print(x > y)
print(x < y)

False
True
True
False

Logical Operators

In [34]:
print(x == y and x != y) # false and true
print(x == y or x != y)
print(not(x == y or x != y))

False
True
False

Identity Operators

In [37]:
print(x is y) # x == y
print(x is not y) # x != y

False
True

Bitwise Operators

In [38]:
print(10| 1)
print(x>>1)

11
2

Application

In [41]:
#Create a Python program that displays your Fullname, Age, and Course and Section

firstName = "Honesto"
middleInitial = "E."
lastName = "Vicente"

age = "22"
course = "BSCpE"
section = "PLM-Elective-3-Lab"

print(f"Full name: {lastName}, {firstName} {middleInitial}")
print(f"      Age: {age} ")
print(f"   Course: {course}")
print(f"  Section: {section}")

Full name: Vicente, Honesto E.
      Age: 22
   Course: BSCpE
  Section: PLM-Elective-3-Lab