Python Indentation

In [3]:
x = 5
y = 2

if x > y:
  print(f"{x} is greater than {y}")
else:
  print(f"{x} is NOT greater than {y}")

5 is greater than 2

Python Comment

In [1]:
print("Hello World") # This is a python comment

Hello World

Python Variable

In [8]:
z = 1
z, s = 0, -1
z, s, t = 8,9,10
z
s
t

10

In [12]:
b = "Sally" # This is a string
b = float(4)
b

4.0

Type() function

In [13]:
print(type(b))

<class 'float'>

Double Quotes and Single Quotes

In [14]:
w = "Ana"
print(w)
q = 'Ana'
print(q)

Ana
Ana

Case Sensitive

In [17]:
a = int(4)
A = "Sally"
print(a)
print(A)

4
Sally

Multiple Variables

In [18]:
h, i, j = "one", "two", "three"
print(h)
print(i)
print(j)

one
two
three

Multiple Variables with Single Value

In [22]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation (+)

In [27]:
n = "enjoying"
m = "Python programming is"
print(f"{m} {n}")
print(m + " " + n)

Python programming is enjoying
Python programming is enjoying